@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet");

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body, input{
	font-family: 'poppins', sans-serif;
}
.wadah{
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-color: #fff;
	overflow: hidden;
}

.wadah2{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  overflow: hidden;
}

.wadah:before{
	content: '';
	position: absolute;
	width: 2000px;
	height: 2000px;
	border-radius: 50%;
	background: linear-gradient(-45deg, #fc4900, #ff4f19);
	top: -10%;
	right: 48%;
	transform: translateY(-50%);
	z-index: 6;
	transition: 1.8s ease-in-out
}
.forms-wadah{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.order-takeaway{
	position: absolute;
	top: 50%;
	left: 75%;
	transform: translate(-50%, -50%);
	width: 50%;
	display: grid;
	grid-template-columns: 1fr;
	z-index: 5;
	transition: 1s 0.7s ease-in-out;
}
form.order-form{
	z-index:  2;
}
form.takeaway-form{
	z-index: 1;
	opacity: 0;
}
form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
	grid-column: 1/2;
	grid-row: 1/2;
	transition: 0.2s 0.7s ease-in-out;
}
.title{
	font-size: 2.2rem;
	color: #444;
	margin-bottom: 10px;
}
.input-field{
	max-width: 380px;
	width: 100%;
	height: 55px;
	background-color: #f0f0f0;
	margin: 10px 0;
	border-radius: 55px;
	display: grid;
	grid-template-columns: 15% 85%;
	padding: 0.4rem;
}
.input-field i{
	text-align: center;
	line-height: 40px;
	color: #acacac;
	font-size: 1.1rem;
}
.input-field input{
	background: none;
	outline: none;
	border: none;
	line-height: 1;
	font-weight: 600;
	font-size: 1.1rem;
	color: #333;
}
.input-field input::placeholder{
	color: #aaa;
	font-weight: 500px;

}
.tombol{
	width: 150px;
	height: 49px;
	border: none;
	outline: none;
	border-radius: 49px;
	cursor: pointer;
	background-color: #fa5f25;
	color:  #fff;
	text-transform: uppercase;
	font-weight: 600;
	margin: 10px 0;
	transition: 0.5s;
}
.tombol:hover{
	background-color: #fc4900;

}
.form-text{
	padding: .7rem 0;
	margin-left: -10px;
	font-size: 1rem;
}
.panels-wadah{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);

}

.panel{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
	text-align: center;
	z-index: 6;
}

.left-panel{
	pointer-events: all;
	padding: 5rem 28% 2rem 4%;
}

.right-panel{
	pointer-events: none;
	padding: 2rem 26% 2rem 2%;

}

.panel .content{
	color: #fff;
	transition: transform 0.9s ease-in-out;
	transition-delay: 0.6s;
}

.panel h3{
	font-weight: 600;
	line-height: 1;
	font-size: 1.5rem;
}
.panel p{
	font-size: 0.95rem;
	padding: 0.7rem 0;
}
.tombol.transparent{
	margin: 0;
	background: none;
	border: 2px solid #fff;
	width: 130px;
	height: 41px;
	font-weight: 600;
	font-size: 0.8rem;
}
.image{
	width: 70%;
	transition: 1.1s .4s ease-in-out;
}
.right-panel .content, .right-panel .image{
	transform: translateX(800px);
}

/*ANIMATION*/
.wadah.takeaway-mode:before {
	transform: translate(100%, -50%);
	right: 52%
}


.wadah.takeaway-mode .left-panel .image,
.wadah.takeaway-mode .left-panel .content{
	transform: translateX(-800px);
}

.wadah.takeaway-mode .order-takeaway{
	left: 25%;
}

.wadah.takeaway-mode .right-panel .content,
.wadah.takeaway-mode .right-panel .image{
	transform: translateX(0%);
}

.wadah.takeaway-mode .left-panel{
	pointer-events: none;
}

.wadah.takeaway-mode .right-panel{
	pointer-events: all;
}

.wadah.takeaway-mode form.order-form{
	z-index: 1;
	opacity: 0;
}
.wadah.takeaway-mode form.takeaway-form{
	z-index: 2;
	opacity: 1;
}
@media (max-width: 870px) {
  .wadah {
    min-height: 800px;
    height: 100vh;
  }
  .order-takeaway {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .order-takeaway,
  .wadah.takeaway-mode .order-takeaway {
    left: 50%;
  }

  .panels-wadah {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .tombol.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .wadah:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .wadah.takeaway-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .wadah.takeaway-mode .left-panel .image,
  .wadah.takeaway-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .wadah.takeaway-mode .right-panel .image,
  .wadah.takeaway-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .wadah.takeaway-mode .order-takeaway {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .wadah {
    padding: 1.5rem;
  }

  .wadah:before {
    bottom: 72%;
    left: 50%;
  }

  .wadah.takeaway-mode:before {
    bottom: 28%;
    left: 50%;
  }
}

/*MODAL*/
.modal-open {
    display: inline-block;
    border-radius: 10px;
    background: #4caf50;
    padding: 0px 20px;
    color: #fff;
    cursor: pointer;
}
 
.modal-label {
    position: relative;
}
 
.modal-radio {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}
 
.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    transform: scale(0);
    transition: opacity .25s, transform .25s;
  z-index:99;
}
 
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.3;
    top: 0;
    left: 0;
}
 
.modal .content {
    position: absolute;
    width: 70%;
    height: 300px;
    max-height: 70%;
    top: 10%;
    left: 15%;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 3px 15px -2px #222;
    padding: 20px;
}
 
.close-tombol {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 20px;
    border-radius: 50%;
    border: 2px solid #f44336;
    cursor: pointer;
}
 
.close-tombol:after,
.close-tombol:before {
    content: "";
    position: absolute;
    width: 70%;
    height: 2px;
    background: #f44336;
    left: 15%;
    top: 50%;
    top: calc(50% - 1px);
    transform-origin: 50% 50%;
    transform: rotate(45deg);
}
 
.close-tombol:before {
    transform: rotate(-45deg);
}
 
.aksi-tombol{
  display:inline-block;
  padding: 10px 20px;
  background:#4caf50;
  color:#fff;
  border-radius:15px;
  cursor: pointer;
}
.kolum{
  width: 25%;
  float: left;
  padding: 0px 10px;

}

.baris:after{
  content: "";
  display: table;
  clear: both;
}
@media screen (max-width: 600px)
{
  .kolum{
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.kartu{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0,2);
  max-width: 300px;
  margin: auto;
  background-color: white;
  text-align: center;
  border-radius: 40px;
  padding-bottom: 15px;
  margin-top: 20px;
  background: none;
  border: 2px solid #fa5f25;
  font-weight: 600;
  font-size: 0.8rem;

}
.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

/* Back to Top */
html {scroll-behavior:smooth;}
.ignielToTop {width:50px; height:50px; position:fixed; bottom:50px; right: 50px; z-index:99; cursor:pointer; border-radius:100px; transition:all .5s; background:#fa5f25 url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center;}
.ignielToTop:hover {background:#1d2129 url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center;}
